$text-color: #707070;
$dot-color: #f02e27;

$red-dark: #dc3734;
$red-light: #e35f5d;

$body-color: #f7f5f5;

$phone: "only screen and (max-width : 768px)";

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	color: $text-color;
	background-color: $body-color;
}

img {
	display: block;
	max-width: 100%;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
}

p {
	font-size: 1.4em;
	line-height: 2em;
}

a {
	text-decoration: none;
	color: inherit;
}

.dot {
	color: $dot-color;
}

.container {
	max-width: 1100px;
	margin: auto;
}

.read-more {
	font-size: 1.6em;
	text-decoration: underline;
}

section:not(.main-slider) {
	@media #{$phone} {
		padding: 0 40px;
	}
}


$header-mobile-height: 96px;
main {
	@media #{$phone} {
		padding-top: $header-mobile-height;
	}
}

// HEADER
.header {
	background-color: #fff;
}

.header-inner {
	border-bottom: 1px solid #eaeaea;
	@media #{$phone} {
		display: flex;
		align-items: center;
		padding: 0 40px;
		position: relative;
		background-color: #fff;
		z-index: 10;
		max-height: $header-mobile-height;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
	}
	.logo {
		padding: 20px 0;
		max-width: 180px;
		margin: auto;
		@media #{$phone} {
		  flex: 1;
		}
		> img { 
			margin: auto;
		}
	}
}

.burger-menu {
	display: none;
	width: 40px;
	height: 30px;
	position: relative;
	cursor: pointer;
	@media #{$phone} {
	  display: block;
	}
	.bar {
		$height-bar: 5px;
		&.top {
			display: block;
			height: $height-bar;
			background-color: #000;
		}
		&.middle {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 100%;
			background-color: #000;
			height: $height-bar;
		}
		&.bottom {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: #000;
			height: $height-bar;
		}
	}
}

.navigation {
	font-size: 10px;
	@media #{$phone} {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		margin-top: $header-mobile-height;
		transform: translateX(-100%);
		z-index: 20;
		transition: transform ease-out .4s;
	}
	&.open {
		transform: translateX(0);
		transition: transform ease-out .4s;
	}
	> ul {
		display: flex;
		max-width: 550px;
		margin: auto;
		list-style-type: none;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.4em;
		padding: 30px 0;
		@media #{$phone} {
		  flex-direction: column;
		  max-width: none;
		  padding: 0;
		  text-align: left;
		}
	}
	li {
		flex: 1;
		@media #{$phone} {
		  + li {
		  	border-top: 1px solid #eaeaea;
		  }
		}
		&:hover {
			color: $red-light;
		}
	}
	a {
		@media #{$phone} {
			padding: 15px 0 15px 40px;
			display: block;
		}
	}
	.home-link {
		color: $red-dark;
	}
}

// MAIN SLIDER
.main-slider-container {
	padding: 25px 0;
	background-color: #000;
	font-size: 10px;
	> .swiper-container {
		max-width: 1500px;
	}
}

.slider-img-overlay { 
	opacity: 0;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: opacity ease-out .4s;
	.name {
		color: #fff;
		font-size: 1.6em;
	}
	.theme {
		color: $red-dark;
		font-size: 1.6em;
	}
}

.home-slide-item {
	position: relative;
	&:hover {
		.slider-img-overlay {
			opacity: 1;
			transition: opacity ease-out .4s;
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	background: none;
	width: 46px;
	height: 46px;
	border: 2px solid #fff;
	border-radius: 50%;
	transition: all ease-out .4s;
	&:hover {
		background-color: #fff;
		transition: all ease-out .4s;
	}
	&:before {
		content: "";
		width: 8px;
		height: 12px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
}

.swiper-button-prev {
	&:hover {
		&:before {
			background: url("../img/arrow-grey.svg") no-repeat;
		}
	}
	&:before {
		background: url("../img/arrow.svg") no-repeat;
		transform: rotate(180deg);
	}
}

.swiper-button-next {
	&:hover {
		&:before {
			background: url("../img/arrow-grey.svg") no-repeat;
		}
	}
	&:before {
		background: url("../img/arrow.svg") no-repeat;
	}
}



// INTRODUCTION
.introduction {
	text-align: center;
	font-size: 10px;
	max-width: 900px;
	margin: auto;
	margin-top: 50px;
	> p {
		margin-top: 40px;
	}
}

// LIST PAGE
.articles-list {
	font-size: 10px;
	margin-top: 15px;
}

article {
	padding: 15px 15px 50px;
	background-color: #fff;
	border: 1px solid #eaeaea;
	+ article {
		margin-top: 30px;
	}
	h1 {
		font-size: 2.6em;
		margin-bottom: 15px;
		> span {
			color: $red-dark;
		}
	}
	section {
		padding: 0 25px;
		margin-top: 30px;
	}
	p {
		margin-bottom: 10px;
	}
}

